* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

header h1 {
    font-size: 80px;
}

#contingut {
    height: 100vh; 
    position: relative;
    overflow: hidden;
}

#cosaQueEsMou {
    position: absolute;
    height: 200px;
    width: 300px;
    top: 50%;
    left: 0px;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.gegant {
    font-size: 100px;
}
